body {
  font-family: "Open Sans", "Helvetica Neue", sans-serif, Verdana, Segoe, sans-serif;
  font-style: normal;
  font-variant: normal;
  font-size: 16px;

  box-sizing: border-box;
  background: #191922 !important;
  color: white;
}

h1 {
  font-size: 28px;
  font-weight: 700;
  line-height: 26.4px;
}

h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 26.4px;
  padding: 10px 0px 10px 0px;
}

h3 {
  font-size: 18px;
  padding: 10px 0px 10px 0px;
  font-weight: 700;
  line-height: 15.4px;
}
p {
  font-size: 16px;
  padding: 10px 0px 10px 0px;
  font-weight: 400;
  line-height: 20px;
  color: white;
}
ul {
  font-size: 16px;
  font-weight: 400;
  color: white;
}
.columns {
  display: flex;
}

.left-column {
  background-color: #202029;
}

.right-column {
}
.container {
  background: #1e1e27;
  max-width: 98% !important;
  margin-top: 15px !important;
  margin-bottom: 15px !important;
  /* 
  margin: 0 auto;
  margin: 20px auto;
  padding: 40px;
  width: 1024px;

  font-size: 18px;
  line-height: 1.5;
  background-color: #ffffff;
  box-shadow: 10px 10px 40px -1px rgba(0, 0, 0, 0.23);
  */
}
.contact,
.github,
.languages,
.references,
.books,
.knowledge,
.courses {
  border-bottom: 2px solid #b9b9b9;
  padding: 20px 0px 20px 0px;
}

.date {
  color: white;
  font-size: 16px;
  font-weight: 700;
  font-style: italic;
}

.thanks {
  border: solid 2px #b9b9b9;
  padding: 20px;
  margin-top: 20px;
}

.work-position,
.project-name {
  font-size: 18px;
  font-weight: 700;
}

.line {
  border-bottom: 2px solid #b9b9b9;
  width: 15%;
  margin: 30px 0px 30px 0px;
}

.bold {
  font-weight: 700;
}

#knowledge {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#bangerhead,
#sunnytrips {
  border: solid 3px white;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-radius: 15px;
}

.clean {
  list-style: none;
}
ul li {
  margin-left: 17px;
}
.basic-job-description {
  margin: 20px 0px 20px 0px;
  display: flex;
}

a:link,
a:visited {
  text-decoration: none;
  color: white;
}

#phone,
#email,
#github {
  margin-left: -17px;
  vertical-align: middle;
  padding-right: 10px;
}

.courses ul li {
  margin-bottom: 10px;
}

.experience-logo {
  width: 80px;
  padding-right: 25px;
  vertical-align: middle;
}
.experience-info {
  width: auto;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid 3px white;

  padding: 0px 20px 0px 20px;
}
.github-logo-footer {
  align-items: center;
}
.created {
  align-items: center;
  justify-content: center;
}
.course-logo {
  align-items: center;
  justify-content: right;
}
.github-link {
  display: flex;
  align-items: center;
}
