body {
  box-sizing: border-box;
  background: #191922 !important;
  color: #cacace;
  font-size: 13px;
  line-height: 1.7;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 0.25px;
}

h1 {
  font-size: 28px;
  font-weight: 700;
  line-height: 26.4px;
}

h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 26.4px;
  padding: 10px 0px 10px 0px;
}

h3 {
  font-size: 18px;
  padding: 10px 0px 10px 0px;
  font-weight: 700;
  line-height: 15.4px;
}
h6 {
  color: white;
}
/* p {
  font-size: 16px;
  padding: 10px 0px 10px 0px;
  font-weight: 400;
  line-height: 20px;
  color: white;
} */
ul {
  font-size: 13px;
  font-weight: 400;
  color: white;
}
.columns {
  display: flex;
}

.left-column {
  background-color: #202029;
}

.right-column {
}
.container {
  background: #1e1e27;
  max-width: 98% !important;
  margin-top: 15px !important;
  margin-bottom: 15px !important;
  /* 
  margin: 0 auto;
  margin: 20px auto;
  padding: 40px;
  width: 1024px;

  font-size: 18px;
  line-height: 1.5;
  background-color: #ffffff;
  box-shadow: 10px 10px 40px -1px rgba(0, 0, 0, 0.23);
  */
}
.contact,
.github,
.references,
.books,
.knowledge,
.courses,
skills {
  padding: 20px 0px;
  margin: 20px 0px;
}

.date {
  color: white;
  font-size: 16px;
  font-weight: 700;
  font-style: italic;
}

.thanks {
  border: solid 2px #b9b9b9;
  padding: 20px;
  margin-top: 20px;
}

.work-position,
.project-name {
  font-size: 18px;
  font-weight: 700;
}

.line {
  border-bottom: 2px solid #b9b9b9;
  width: 15%;
  margin: 30px 0px 30px 0px;
}

.bold {
  font-weight: 700;
}

#knowledge {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#bangerhead,
#sunnytrips {
  border: solid 3px white;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-radius: 15px;
}

.clean {
  list-style: none;
  margin: 0 -15px;
}
ul li {
  margin-left: 17px;
}
.basic-job-description {
  margin: 20px 0px 20px 0px;
  display: flex;
}

a:link,
a:visited {
  text-decoration: none;
  color: white;
}

#phone,
#email,
#github {
  margin-left: -17px;
  vertical-align: middle;
  padding-right: 10px;
}

.courses ul li {
  margin-bottom: 10px;
}

.experience-logo {
  width: 80px;
  padding-right: 25px;
  vertical-align: middle;
}
.experience-info {
  width: auto;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid 3px white;

  padding: 0px 20px 0px 20px;
}
.github-logo-footer {
  align-items: center;
}
.created {
  align-items: center;
  justify-content: center;
}
.course-logo {
  align-items: center;
  justify-content: right;
}
.github-link {
  display: flex;
  align-items: center;
}

/* Styles after bootstrap added */
section {
  color: #cacace;
  line-height: 1.7;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 0.25px;
}
.logo {
  width: 90px;
  height: 90px;
  margin: 0 auto;

  position: relative;
  margin-bottom: 25px;
}
.about {
  background-color: #23232d;
  margin: 0px -11px 0px -11px !important;
  padding: 40px 0px 40px 0px !important;
}
.own-links {
  transition: 0.4s ease-in-out;
}
.own-links:hover {
  color: #f6c344 !important;
}
.own-nav {
  font-size: 13px;
  color: #8c8c8e !important;
}
.name {
}
.position {
  font-size: 13px;
  font-style: normal;
  color: #8c8c8e;
}
.basic-info,
.languages {
  font-size: 13px;
  padding: 20px 0px 20px 0px !important;
}
.basic-info {
  line-height: 2;
}
.basic-info-item {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.grey {
  color: #8c8c8e;
  text-align: right;
}
.divider {
  background: #8c8c8e;
  width: 80%;
  height: 1px;
  opacity: 0.3;
  margin: auto;
}

.lang {
  word-spacing: 30px;
  margin-top: -10px;
}
.knowledge-item {
  width: 80%;
  margin: auto;
  font-size: 13px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
}
.skills {
  padding: 30px 0px;
}
.bi-check {
  font-size: 18px;
  color: #ffc107;
  margin-right: 5px;
  margin-top: 15px;
}
.skills ul li {
  font-size: 13px;
  color: #8c8c8e;
}
/* progress-round */
.language-progress {
  display: inline-block;
}

.download-cv {
  width: 80%;
  margin: auto;
  font-size: 13px;
  color: #8c8c8e;
  padding: 15px 0px 15px 0px;
}

.contact {
  background-color: #23232d;
  margin: 0px -22px 0px -11px !important;
  padding: 20px 40px 20px 0px !important;
  text-align: center;
}

.contact ul li {
  display: inline-block !important;
}

.progress-round {
  width: 50px;
  height: 50px !important;
  float: left;
  line-height: 50px;
  background: none;
  margin: 15px;
  box-shadow: none;
  position: relative;
  background-color: #1f2029 !important;
}

.progress-round:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 3px solid #191922;
  position: absolute;
  top: 0;
  left: 0;
}

.progress-round > span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}

.progress-round .progress-left {
  left: 0;
}

.progress-round .progress-bar {
  width: 100%;
  height: 100%;
  background: none;
  border-width: 3px;
  border-style: solid;
  position: absolute;
  top: 0;
}

.progress-round .progress-left .progress-bar {
  left: 100%;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}

.progress-round .progress-right {
  right: 0;
}

.progress-round .progress-right .progress-bar {
  left: -100%;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right;
  animation: loading-1 1.8s linear forwards;
}

.progress-round .progress-value {
  width: 90%;
  height: 90%;
  border-radius: 50%;
  background: #1e1e27;
  font-size: 11px;
  color: #fff;
  line-height: 15px;
  text-align: center;
  position: absolute;
  top: 5%;
  left: 5%;
  padding-top: 13px;
}

.progress-round.hundred .progress-bar {
  border-color: #fdba04;
}

.progress-round.hundred .progress-left .progress-bar {
  animation: loading-2 1.5s linear forwards 1.8s;
}

.progress-round.sixty .progress-bar {
  border-color: #fdba04;
}

.progress-round.sixty .progress-left .progress-bar {
  animation: loading-2 1.8s linear forwards;
}

.progress-round.sixty .progress-left .progress-bar {
  animation: loading-3 1.5s linear forwards 1.8s;
}

@keyframes loading-1 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

@keyframes loading-2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(144deg);
    transform: rotate(180deg);
  }
}

@keyframes loading-3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(135deg);
    transform: rotate(30deg);
  }
}
/* progress-rounded */

/* progress-own */
.progress-own {
  height: 3px !important;
  width: 80%;
  margin: auto;
  background-color: #191922 !important;
  margin-bottom: 25px;
}
/* progress-own */
